
/* Everything below is html boilerplate - css standard --- got code from class*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* --------css gradient background -------*/
body {
	background: linear-gradient(-45deg, #FFB067, #FFED86, #A2DCE7, #FF96B7);
}




/* ----heading text sections style---- */
h1 {
  font-size: 60px;
  font-family: 'Staatliches', cursive;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Staatliches', cursive;
}

h6 {
  font-size: 22px;
  font-family: 'Staatliches', cursive;
}

a {
  text-decoration: none;
  color: black;
}


/* ----heading style using flex---- */
.heading h1, .heading h3, .heading h6 {
  margin: 0;
  text-align: center;
}

.heading {
  color: black;
  padding-top: 10px;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* -----title sections with line through using flex----- */
h5 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-style: italic;
}
h5:before, h5:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}
h5:before {
  margin-right: 10px;
}
h5:after {
  margin-left: 10px;
}




/* ----grid card style, from balloon exmaple, consistancy---- */
.cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  grid-auto-rows: 200px;
  margin: 0 auto;
  padding: 20px;
  /* max-width: 1200px; */
}

.cards img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-width: 100%;
  display: block;
}



/* ----about me using flex & media breakpoint article style----- */
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33.3%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}

h2 {
  text-align: center;
}



/* ------video cards using flex------ */
.video {
  display: flex;
  padding: 40px;
  align-items: center;
}

.content {
  flex: 50%;
  padding: 10px;
}

.content img {
  max-width: 100%;
}

.content h2 {
  text-align: center;
  font-size: 25px;
}

p {text-align: center;}
